* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

@font-face {
  font-family: "BreadStore";
  src: url("../fonts/BreadStore.ttf") format("truetype");
}
.button {
  border: 0.0625rem solid black;
  border-radius: 0.35rem;
  box-shadow: 1px 1px 4px -3px gray;
  cursor: pointer;
}
.button--sm {
  width: 2rem;
  padding: 0.125rem;
  font-size: 1rem;
  font-weight: bold;
}
.button--md {
  width: 9rem;
  padding: 0.25rem;
  font-size: 0.9rem;
}
.button--lg {
  width: 12rem;
  padding: 0.375rem;
  font-size: 1rem;
}
.button--add {
  background-image: linear-gradient(125deg, white, white, white 65%);
  border-color: darkgreen;
  color: darkgreen;
  transition: all 300ms;
}
.button--add:hover, .button--add:active {
  background-image: linear-gradient(125deg, darkgreen, lightgreen, darkgreen 65%);
  border-color: white;
  color: white;
}
.button--remove {
  background-image: linear-gradient(125deg, white, white, white 65%);
  border-color: red;
  color: red;
  transition: all 300ms;
}
.button--remove:hover, .button--remove:active {
  background-image: linear-gradient(125deg, darkred, red, darkred 65%);
  border-color: white;
  color: white;
}
.button--disabled {
  background-image: linear-gradient(125deg, white, white, white 65%);
  border-color: gray;
  color: gray;
  transition: all 300ms;
  cursor: default;
  /*&:hover,
  &:active {
      background-image: linear-gradient(125deg, gray, lightgray, gray 65%);
      border-color: white;
      color: white;

  }*/
}

.slider {
  position: relative;
  height: 25vh;
  width: 300%;
  display: flex;
  z-index: -1;
  animation-name: move-slide;
  animation-duration: 18s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.slider__one, .slider__two, .slider__three {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider__title {
  position: absolute;
  font-size: 2rem;
  color: white;
}
.slider__image {
  width: 100%;
  object-fit: cover;
  object-position: center;
}
@keyframes move-slide {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -100%;
  }
  95% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}

.card {
  background-color: white;
  padding: 1vw;
  height: 450px;
}
.card__image {
  width: 100%;
  height: 250px;
  object-fit: contain;
}
.card__title {
  border-top: 1px solid lightgray;
  color: green;
  padding-top: 0.5vh;
}
.card__text {
  padding-top: 0.5vh;
  color: #0b2239;
  text-overflow: ellipsis;
}
.card__price {
  padding-top: 0.5vh;
  text-align: center;
  font-weight: bold;
}
.card__price::before {
  content: "$ ";
}
.card__addcart {
  padding-top: 0.5vh;
  display: flex;
  flex-direction: row;
  align-self: center;
  gap: 0.5vw;
}
.card--product {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.card--product:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  transition: all 300ms;
}

body {
  display: grid;
  grid-template-areas: "header" "navbar" "main" "footer";
  gap: 1vh;
  background-color: #ededed;
}

.footer {
  grid-area: footer;
  background-color: #0b2239;
  color: azure;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1vW;
  gap: 2vh;
}
.footer .social {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}
.footer .social__networks {
  display: flex;
  gap: 1vw;
  justify-content: center;
}

.header {
  display: flex;
  position: fixed;
  grid-area: header;
  background-color: #0b2239;
  padding: 0vh 1vw 0vh 1vw;
  gap: 3vw;
  width: 100%;
}
.header__store {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5vw;
}
.header__title {
  color: azure;
  font-family: "BreadStore", "cursive", "Poppins", sans-serif;
  font-size: 2em;
  padding-top: 1.5vh;
}
.header__logo {
  height: auto;
}

.main {
  grid-area: main;
  padding: 5vh 10vw 0 10vw;
}
.main .section {
  width: 100%;
}
.main .section--slider {
  overflow: hidden;
}
.main .section--products {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}
.main .section--products {
  margin-top: 1vh;
  border-radius: 5px;
  padding: 1vh;
}
.main .section .search__form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1vw;
}
.main .section .search__form--input {
  height: 30px;
  border-radius: 0.5em;
  border: 2px solid #0b2239;
  outline: none;
}
.main .section .gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

.navbar {
  display: flex;
  align-items: center;
}
.navbar__menu {
  display: flex;
  gap: 1vw;
}
.navbar__item {
  text-decoration: none;
  color: lightgray;
}
.navbar__item--active {
  text-decoration: underline;
  font-weight: bold;
  color: #199CFA;
}
.navbar__item:hover {
  color: azure;
}

h1 {
  color: red;
}/*# sourceMappingURL=main.css.map */