@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Permanent+Marker&display=swap");
/*alerts*/
/*cards*/
/**/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

@font-face {
  font-family: "BreadStore";
  src: url("../fonts/BreadStore.ttf") format("truetype");
}
.button {
  border: 0.0625rem solid black;
  border-radius: 0.35rem;
  box-shadow: 1px 1px 4px -3px gray;
  cursor: pointer;
}
.button--sm {
  width: 2rem;
  padding: 0.125rem;
  font-size: 1rem;
  font-weight: bold;
}
.button--md {
  width: 9rem;
  padding: 0.25rem;
  font-size: 0.9rem;
}
.button--lg {
  width: 12rem;
  padding: 0.375rem;
  font-size: 1rem;
}
.button--add {
  background-image: linear-gradient(125deg, white, white, white 65%);
  border-color: green;
  color: green;
  transition: all 300ms;
}
.button--add:hover, .button--add:active {
  background-image: linear-gradient(125deg, darkgreen, lightgreen, darkgreen 65%);
  border-color: white;
  color: white;
  transform: scale(1.2);
  transition: all 150ms;
}
.button--remove {
  background-image: linear-gradient(125deg, white, white, white 65%);
  border-color: red;
  color: red;
  transition: all 300ms;
}
.button--remove:hover, .button--remove:active {
  background-image: linear-gradient(125deg, darkred, red, darkred 65%);
  border-color: white;
  color: white;
  transform: scale(1.2);
}
.button--disabled {
  background-image: linear-gradient(125deg, white, white, white 65%);
  border-color: grey;
  color: grey;
  transition: all 300ms;
  cursor: default;
}

.slider {
  position: relative;
  height: 25vh;
  width: 300%;
  display: flex;
  animation-name: move-slide;
  animation-duration: 18s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.slider__one, .slider__two, .slider__three {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider__image {
  width: 100%;
  object-fit: cover;
}
@keyframes move-slide {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -100%;
  }
  95% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}

.card {
  background-color: white;
  padding: 1vw;
  height: 450px;
}
.card__image {
  width: 100%;
  height: 250px;
  object-fit: contain;
}
.card__title {
  border-top: 1px solid lightgrey;
  color: darkcyan;
  padding-top: 0.5vh;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  overflow: hidden;
}
.card__text {
  padding-top: 0.5vh;
  color: #0b2239;
}
.card__text .showMore {
  position: absolute;
  border: none;
  background-color: transparent;
  font-weight: bold;
  right: auto;
  cursor: pointer;
}
.card__text--short {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  display: -webkit-box;
  overflow: hidden;
  height: min-content;
  margin-top: auto;
  font-size: small;
}
.card__text--long {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  display: -webkit-box;
  overflow: auto;
  height: min-content;
  margin-top: auto;
  font-size: small;
}
.card__price {
  padding-top: 0.5vh;
  text-align: center;
  font-weight: bold;
  margin-top: auto;
}
.card__price::before {
  content: "$ ";
}
.card__addcart {
  padding-top: 0.5vh;
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-self: end;
  gap: 0.5vw;
  margin-top: auto;
}
.card--product {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.card--product:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  transition: all 300ms;
  transform: scale(1.01);
}

.alert {
  display: none;
  justify-content: space-between;
  align-self: center;
  margin-top: 0.25em;
  padding: 0.25em;
  font-size: 0.75em;
  width: 100%;
}
.alert__close {
  align-self: center;
  font-size: 0.75em;
  cursor: pointer;
}

.alert--success {
  background-color: rgb(209, 231, 221);
  color: rgb(15, 81, 50);
  border: 1px solid rgb(186, 219, 204);
}

.alert--danger {
  background-color: rgb(248, 215, 218);
  color: rgb(132, 32, 41);
  border: 1px solid rgb(245, 194, 199);
}

.alert--show {
  display: flex;
}

.alert--hide {
  display: none;
}

.input-error {
  color: red;
  position: relative;
  margin-left: auto;
  font-size: 0.8rem;
}

.input-invalid {
  border: 1px solid red;
}

.input-valid {
  border: 1px solid green;
}

body {
  display: grid;
  grid-template-areas: "main" "footer";
  gap: 1vh;
  background-color: #ededed;
  min-height: 100vh;
}

.footer {
  grid-area: footer;
  background-color: #0b2239;
  color: azure;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1vW;
  gap: 2vh;
  margin-top: auto;
}
.footer .social {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}
.footer .social__networks {
  display: flex;
  gap: 1vw;
  justify-content: center;
}

.header {
  position: fixed;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #0b2239;
  padding: 0vh 1vw 0vh 1vw;
  gap: 3vw;
  width: 100%;
  height: 68px;
  z-index: 100;
}
.header__store {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5vw;
}
.header__title {
  color: azure;
  font-family: "BreadStore", "cursive", "Poppins", sans-serif;
  font-size: 2em;
  padding-top: 1.5vh;
}
.header__logo {
  height: auto;
}
.header .cart {
  display: flex;
  margin-left: auto;
  margin-right: 10vw;
  align-self: center;
  padding: 1vh;
}
.header .cart:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.header .cart__added {
  background-color: red;
  color: white;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  text-align: center;
}

.main {
  grid-area: main;
  padding: 78px 10vw 0 10vw;
}
.main .section {
  width: 100%;
}
.main .section--slider {
  overflow: hidden;
}
.main .section--products {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}
.main .section--products {
  margin-top: 1vh;
  border-radius: 5px;
  padding: 1vh;
}
.main .section .search__form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1vw;
}
.main .section .search__form--input {
  display: flex;
  outline: none;
  background-color: white;
  border: 1px solid grey;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: 1.2rem;
  border-radius: 0.2rem;
  padding: 10px;
}
.main .section .search__form--input input[type=text] {
  border: none;
  background-color: transparent;
  width: auto;
  outline: none;
  width: 100%;
  font-size: large;
}
.main .section .search__form--input:focus-within {
  border: 1px solid lightseagreen;
  transform: scale(1.01);
}
.main .section .search__form--input img {
  cursor: pointer;
}
.main .section .search__form .addproduct {
  background-color: white;
  border: 1px solid grey;
  border-radius: 0.2rem;
  width: fit-content;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.main .section .search__form .addproduct:hover {
  transform: scale(1.05);
}
.main .section .search__form .addproduct__item {
  color: green;
}
.main .section .search__form .addproduct__item:link, .main .section .search__form .addproduct__item:visited {
  text-decoration: none;
  color: green;
}
.main .section .gallery {
  margin-top: 1vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

.navbar {
  /*display: flex;*/
  /*align-items: center;*/
  display: grid;
  justify-items: center;
  align-items: center;
}
.navbar__menu {
  display: flex;
  gap: 2vw;
}
.navbar__item {
  text-decoration: none;
  color: lightgray;
  font-family: "Oswald", sans-serif;
  font-size: 1.2rem;
}
.navbar__item--active {
  text-decoration: underline;
  font-weight: bold;
  color: #199CFA;
}
.navbar__item:hover {
  color: azure;
}

@media (max-width: 1280px) {
  .home .main .gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
}
@media (max-width: 992px) {
  .home .main .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
}
@media (max-width: 768px) {
  .home .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
  }
  .home .header__title {
    font-size: 1.5em;
  }
  .home .header .navbar {
    margin-bottom: auto;
  }
  .home .header .navbar__menu .navbar__item {
    font-size: large;
  }
  .home .header .cart {
    position: absolute;
    left: 80%;
    top: 50%;
  }
  .home .main {
    padding-top: 105px;
    padding-left: 2vw;
    padding-right: 2vw;
  }
  .home .main .section .slider {
    height: 10vh;
  }
  .home .main .section .search__form {
    display: flex;
    flex-direction: column;
  }
  .home .main .section .search__form .addproduct {
    align-self: center;
  }
  .home .main .gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .home .main .gallery .card--product:hover {
    transform: none;
  }
}
@media (max-width: 480px) {
  .home .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 95px;
  }
  .home .header__title {
    font-size: 1.5em;
  }
  .home .header .navbar__menu .navbar__item {
    font-size: large;
  }
  .home .header .cart {
    position: absolute;
    left: 80%;
    top: 50%;
  }
  .home .main {
    padding-top: 105px;
    padding-left: 2vw;
    padding-right: 2vw;
  }
  .home .main .section .slider {
    height: 10vh;
  }
  .home .main .section .search__form {
    display: flex;
    flex-direction: column;
  }
  .home .main .section .search__form .addproduct {
    align-self: center;
  }
  .home .main .gallery {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
  .home .main .gallery .card--product:hover {
    transform: none;
  }
}
.main__about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
}
.main__about .section__about--title {
  font-family: Oswald;
  font-size: 1.5rem;
}
.main__about .section__about--text {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.main__about .section__about--principles {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}
.main__about .section__about--main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.main__about .section__about--images {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__about .section__about--images img {
  width: min-content;
  padding: 1vh;
  height: auto;
  width: 100%;
}
.main__about .section__location {
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: center;
  gap: 1vh;
}

/*media*/
@media (max-width: 1280px) {
  .main__about .section__about--main {
    grid-template-columns: repeat(1, 1fr);
  }
}
.main__contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  gap: 5vw;
  height: fit-content;
  height: auto;
}
.main__contact .section__contact {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  padding: 1vh;
}
.main__contact .section__contact--text {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.main__contact .section__contact .section__data {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  justify-content: center;
}
.main__contact .section__contact .section__data .contact__networks {
  display: flex;
  flex-direction: column;
  gap: 0.5vh;
}
.main__contact .section__contact .section__data .contact__networks--item {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  align-items: flex-end;
  gap: 5px;
}
.main__contact .section__sendemail--submit {
  display: flex;
  flex-direction: column;
  margin-top: 1vh;
}
.main__contact .section__sendemail--data {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}
.main__contact .section__sendemail--data textarea {
  resize: vertical;
}
.main__contact .section__location {
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: center;
  gap: 1vh;
}

/*media*/
@media (max-width: 1280px) {
  .main__contact {
    display: flex;
    flex-direction: column;
    gap: 1vh;
  }
  .main__contact .section__contact {
    display: flex;
    flex-direction: column;
    gap: 2vh;
  }
  .section__location iframe {
    width: 50vw;
    height: 30vh;
  }
}
@media (max-width: 768px) {
  .main__contact {
    display: flex;
    flex-direction: column;
    gap: 1vh;
  }
  .main__contact .section__contact {
    display: flex;
    flex-direction: column;
    gap: 2vh;
  }
  .section__location iframe {
    width: 80vw;
    height: 30vh;
  }
}
.main__addproduct {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__addproduct .section__addproduct {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  background-color: white;
  border-radius: 15px;
  width: 50vw;
  justify-items: center;
}
.main__addproduct .section__addproduct--title {
  color: #0b2239;
  text-align: center;
  margin: 2vh 0 2vh 0;
}
.main__addproduct .section__addproduct__form {
  margin: 1vh;
  width: 80%;
  align-self: center;
}
.main__addproduct .section__addproduct__form--data {
  display: flex;
  flex-direction: column;
  justify-content: start;
  border-radius: 5px;
  margin-top: 5px;
  width: 100%;
}
.main__addproduct .section__addproduct__form--data button {
  width: min-content;
  align-self: center;
  padding: 1vh;
  cursor: pointer;
}
.main__addproduct .section__addproduct__form--data .data {
  width: 100%;
  align-self: center;
}
.main__addproduct .section__addproduct__form--data .data__origin {
  display: flex;
  flex-direction: row;
  width: min-content;
  margin-top: 5px;
  gap: 5px;
}
.main__addproduct .section__addproduct__form--data .data__origin--options {
  display: flex;
  flex-direction: row;
  font-size: small;
  gap: 10px;
}
.main__addproduct .section__addproduct__form--data .data__origin--option {
  display: flex;
  flex-direction: row;
  gap: 1px;
}
.main__addproduct .section__addproduct__form--data .data__origin input[type=radio] {
  width: min-content;
}
.main__addproduct .section__addproduct__form--data .delivery__info {
  display: flex;
  flex-direction: row;
}
.main__addproduct .section__addproduct__form--data .delivery__info label {
  width: fit-content;
  margin-right: 5px;
}
.main__addproduct .section__addproduct__form--data .delivery__info input[type=checkbox] {
  width: min-content;
}
.main__addproduct .section__addproduct__form--data .photo {
  display: flex;
  flex-direction: row;
}
.main__addproduct .section__addproduct__form--data .photo label {
  width: fit-content;
  margin-right: 5px;
}
.main__addproduct .section__addproduct__form--data .data__input {
  height: 3vh;
  outline: none;
}
.main__addproduct .section__addproduct__form--data textarea {
  resize: vertical;
}
.main__addproduct .section__addproduct__form--data button {
  margin-top: 2vh;
}

/*media*/
@media (max-width: 1280px) {
  .main__addproduct .section__addproduct {
    width: 70%;
  }
  .main__addproduct .section__addproduct__form--data .data {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .main__addproduct .section__addproduct {
    width: 80%;
  }
  .main__addproduct .section__addproduct__form--data .data {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .main__addproduct .section__addproduct {
    width: 90vw;
  }
  .main__addproduct .section__addproduct__form--data .data__input {
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */