@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Permanent+Marker&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

@font-face {
  font-family: "BreadStore";
  src: url("../fonts/BreadStore.ttf") format("truetype");
}
.button {
  border: 0.0625rem solid black;
  border-radius: 0.35rem;
  box-shadow: 1px 1px 4px -3px gray;
  cursor: pointer;
}
.button--sm {
  width: 2rem;
  padding: 0.125rem;
  font-size: 1rem;
  font-weight: bold;
}
.button--md {
  width: 9rem;
  padding: 0.25rem;
  font-size: 0.9rem;
}
.button--lg {
  width: 12rem;
  padding: 0.375rem;
  font-size: 1rem;
}
.button--add {
  background-image: linear-gradient(125deg, white, white, white 65%);
  border-color: darkgreen;
  color: darkgreen;
  transition: all 300ms;
}
.button--add:hover, .button--add:active {
  background-image: linear-gradient(125deg, darkgreen, lightgreen, darkgreen 65%);
  border-color: white;
  color: white;
  transform: scale(1.2);
  transition: all 150ms;
}
.button--remove {
  background-image: linear-gradient(125deg, white, white, white 65%);
  border-color: red;
  color: red;
  transition: all 300ms;
}
.button--remove:hover, .button--remove:active {
  background-image: linear-gradient(125deg, darkred, red, darkred 65%);
  border-color: white;
  color: white;
  transform: scale(1.2);
}
.button--disabled {
  background-image: linear-gradient(125deg, white, white, white 65%);
  border-color: gray;
  color: gray;
  transition: all 300ms;
  cursor: default;
}

.slider {
  position: relative;
  height: 25vh;
  width: 300%;
  display: flex;
  animation-name: move-slide;
  animation-duration: 18s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  /*&__title{
      position: absolute;
      font-size: 2rem;
      color: white;
  }*/
}
.slider__one, .slider__two, .slider__three {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider__image {
  width: 100%;
  object-fit: cover;
}
@keyframes move-slide {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -100%;
  }
  95% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}

.card {
  background-color: white;
  padding: 1vw;
  height: 450px;
}
.card__image {
  width: 100%;
  height: 250px;
  object-fit: contain;
}
.card__title {
  border-top: 1px solid lightgray;
  color: green;
  padding-top: 0.5vh;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  overflow: hidden;
}
.card__text {
  padding-top: 0.5vh;
  color: #0b2239;
  /**/
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  display: -webkit-box;
  overflow: hidden;
  height: min-content;
  margin-top: auto;
  font-size: small;
}
.card__price {
  padding-top: 0.5vh;
  text-align: center;
  font-weight: bold;
  margin-top: auto;
}
.card__price::before {
  content: "$ ";
}
.card__addcart {
  padding-top: 0.5vh;
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-self: end;
  gap: 0.5vw;
  margin-top: auto;
}
.card--product {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.card--product:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  transition: all 300ms;
  transform: scale(1.01);
}

body {
  display: grid;
  grid-template-areas: "main" "footer";
  gap: 1vh;
  background-color: #ededed;
  min-height: 100vh;
}

.footer {
  grid-area: footer;
  background-color: #0b2239;
  color: azure;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1vW;
  gap: 2vh;
}
.footer .social {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}
.footer .social__networks {
  display: flex;
  gap: 1vw;
  justify-content: center;
}
.footer--about, .footer--contact, .footer--addproduct {
  margin-top: auto;
}

.header {
  position: fixed;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #0b2239;
  padding: 0vh 1vw 0vh 1vw;
  gap: 3vw;
  width: 100%;
  height: 68px;
  z-index: 100;
}
.header__store {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5vw;
}
.header__title {
  color: azure;
  font-family: "BreadStore", "cursive", "Poppins", sans-serif;
  font-size: 2em;
  padding-top: 1.5vh;
}
.header__logo {
  height: auto;
}
.header .cart {
  display: flex;
  margin-left: auto;
  margin-right: 10vw;
  align-self: center;
  padding: 1vh;
}
.header .cart:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.header .cart__added {
  background-color: red;
  color: white;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  text-align: center;
}

.main {
  grid-area: main;
  padding: 78px 10vw 0 10vw;
}
.main .section {
  width: 100%;
}
.main .section--slider {
  overflow: hidden;
}
.main .section--products {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}
.main .section--products {
  margin-top: 1vh;
  border-radius: 5px;
  padding: 1vh;
}
.main .section .search__form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1vw;
}
.main .section .search__form--input {
  display: flex;
  font-size: 1.2rem;
  border-radius: 0.2rem;
  border: 1px solid gray;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px;
  background-color: white;
}
.main .section .search__form--input input[type=text] {
  border: none;
  background-color: transparent;
  width: auto;
  outline: none;
  width: 100%;
  font-size: large;
}
.main .section .search__form--input:focus-within {
  border: 1px solid lightseagreen;
  transform: scale(1.01);
}
.main .section .search__form--input img {
  cursor: pointer;
}
.main .section .search__form .addproduct {
  background-color: white;
  border: 1px solid gray;
  border-radius: 0.2rem;
  border: 1px solid gray;
  width: fit-content;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.main .section .search__form .addproduct:hover {
  transform: scale(1.05);
}
.main .section .search__form .addproduct__item {
  color: green;
}
.main .section .search__form .addproduct__item:link, .main .section .search__form .addproduct__item:visited {
  text-decoration: none;
  color: green;
}
.main .section .gallery {
  margin-top: 1vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

.navbar {
  /*display: flex;*/
  /*align-items: center;*/
  display: grid;
  justify-items: center;
  align-items: center;
}
.navbar__menu {
  display: flex;
  gap: 1vw;
}
.navbar__item {
  text-decoration: none;
  color: lightgray;
  font-family: "Oswald", sans-serif;
  font-size: 1.2rem;
}
.navbar__item--active {
  text-decoration: underline;
  font-weight: bold;
  color: #199CFA;
}
.navbar__item:hover {
  color: azure;
}

@media (max-width: 1280px) {
  .home .main .gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
}
@media (max-width: 992px) {
  .home .main .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
}
@media (max-width: 768px) {
  .home .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
  }
  .home .header__title {
    font-size: 1.5em;
  }
  .home .header .navbar {
    margin-bottom: auto;
  }
  .home .header .navbar__menu .navbar__item {
    font-size: large;
  }
  .home .header .cart {
    position: absolute;
    left: 80%;
    top: 50%;
  }
  .home .main {
    padding-top: 105px;
    padding-left: 2vw;
    padding-right: 2vw;
  }
  .home .main .section .slider {
    height: 10vh;
  }
  .home .main .section .search__form {
    display: flex;
    flex-direction: column;
  }
  .home .main .section .search__form .addproduct {
    align-self: center;
  }
  .home .main .gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .home .main .gallery .card--product:hover {
    transform: none;
  }
}
@media (max-width: 480px) {
  .home .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 95px;
  }
  .home .header__title {
    font-size: 1.5em;
  }
  .home .header .navbar__menu .navbar__item {
    font-size: large;
  }
  .home .header .cart {
    position: absolute;
    left: 80%;
    top: 50%;
  }
  .home .main {
    padding-top: 105px;
    padding-left: 2vw;
    padding-right: 2vw;
  }
  .home .main .section .slider {
    height: 10vh;
  }
  .home .main .section .search__form {
    display: flex;
    flex-direction: column;
  }
  .home .main .section .search__form .addproduct {
    align-self: center;
  }
  .home .main .gallery {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
  .home .main .gallery .card--product:hover {
    transform: none;
  }
}/*# sourceMappingURL=main.css.map */