.shoppingCart__container {

    padding: 10px;

    &__title {
        padding: 10px;
        align-self: center;
        margin: 5px;
    }

    .shoppingCart {

        display: flex;
        gap: 10px;

        &__actions {
            display: flex;
            justify-content: left;
            width: 100%;
            gap: 10px;
            margin-top: 10px;

        }

    }

    @media (max-width: 992px) {

        display: flex;
        flex-direction: column;
        width: 100vw;

        .shoppingCart {

            display: flex;
            height: fit-content !important;

            &__actions {
                justify-content: left;
            }
        }
    }

    @media (max-width: 768px) {

        display: flex;
        flex-direction: column;
        width: 100vw;

        .shoppingCart {

            display: flex;
            flex-direction: column;

            &__actions {
                justify-content: left;
            }
        }
    }

    @media (max-width: 650px) {

        display: flex;
        flex-direction: column;
        width: 100vw;

        .shoppingCart {

            display: flex;
            flex-direction: column;

            &__actions {
                justify-content: left;
            }
        }
    }


    @media (max-width: 480px) {

        display: flex;
        flex-direction: column;
        width: 100vw;

        .shoppingCart {

            display: flex;
            flex-direction: column;

            &__actions {
                justify-content: center;
            }
        }

    }

}