.shoppingCart__container {

    padding: 10px;

    &__title {
        padding: 10px;
        align-self: center;
        margin: 5px;
    }

}

.shoppingCart {

    display: flex;
    gap: 10px;

    &__actions {
        display: flex;
        justify-content: left;
        width: 100%;
        gap: 10px;
        padding: 10px;
    }

}