@use "../../../styles/scss/variables" as var;

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 0.50rem 5rem 0.50rem 5rem;
    background-color: var.$colorBackgroundLighter;
    border-bottom: 1px solid var.$colorBorderHeader;

    &__drawer-icon {
        svg {
            fill: var.$colorFontDarker;
        }
    }


    &__items {
        a {
            color: var.$colorFontDarker;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        .active {
            color: var.$colorFontLessDark;
            border-bottom: 1px solid var.$colorFontLessDark;
            border-radius: 0;
        }
    }

    &__shopping-cart {
        &__icon-badge {
            svg {
                font-size: var.$fontSizeXXL;
                fill: var.$colorFontDark;
            }

            span {
                color: var.$colorBackgroundLight;
                background-color: var.$cartCounterColor;
            }
        }
    }

    @media (max-width: 650px) {
        &__items {
            display: none;
        }
    }

    @media (min-width: 651px) {
        &__drawer-icon {
            display: none;
        }
    }
}

.active {
    background-color: var.$colorBackgroundLight;
}