@use "../../styles/scss/variables" as var;

.data__loading {

    display: flex;

    justify-content: center;
    padding: 10vh;
    gap: 20px;

    p {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;

    }
}