@use "../../styles/scss/variables" as var;

$_width: 100%;
$_height: 30px;

.product-search {
    display: flex;
    align-items: flex-start;
    gap: 0.25vw;

    div {
        height: $_height !important;

        div input {
            height: $_height !important;
            padding: 10px 20px 10px 10px;
        }

        p {
            margin-left: 14px !important;
        }
    }

    button {
        height: $_height !important;
    }
}