@use "../../styles/scss/variables" as var;

$_width: 100%;
$_height: 100%;

.product-search {
    display: flex;
    align-items: flex-start;
    gap: 0.25vw;
    height: $_height;

    div {
        display: flex;
        height: 100%;
        width: 20vw;

        label {
            color: var.$colorFontDisabled !important;
        }
    }

    button {
        height: 40px !important;
    }

    @media (max-width: 992px) {
        div {

            width: 100%
        }
    }

    @media (max-width: 768px) {
        div {
            width: 100%;
        }
    }

    @media (max-width: 480px) {


        div {
            width: 100%;
        }
    }

}