$backgroundBodyColor: #ededed;
$backgroundCardColor: white;
$backgroundHeaderColor: #0b2239;
$borderHeaderColor: #465362;
$navbarItemActiveColor : #199CFA;
$navbarItemColor: lightgray;
$titleColor: azure;
$headerHeight: 68px;