$backgroundBodyColor: #ededed;
$backgroundCardColor: white;
$backgroundHeaderColor: #171d25;
$borderHeaderColor: #465362;
$navbarHoverColor:#171d25;
$navbarItemActiveColor : #199CFA;
$navbarItemColor: lightgray;