$backgroundBodyColor: #ededed;
$backgroundCardColor: white;
$backgroundHeaderColor: #0b2239;
$borderHeaderColor: #465362;
$navbarItemActiveColor : #199CFA;
$navbarItemColor: lightgray;
$titleColor: azure;
$errorColor: red;
$successColor: green;
$disabledColor: grey;
$cardTitleColor: darkcyan;
$cardSeparatorColor : lightgrey;
$white: white;
$searchFocusBorder: lightseagreen;
$headerHeight: 68px;
$headerHeight480px: 95px;
$headerHeight768px: 100px;
/*alerts*/
$alertSuccessBackground: rgb(209, 231, 221);
$alertSuccesscolor: rgb(15, 81, 50);
$alertSuccessborder: 1px solid rgb(186, 219, 204);
$alertDangerBackground: rgb(248, 215, 218);
$alertDangercolor: rgb(132, 32, 41);
$alertDangerborder: 1px solid rgb(245, 194, 199);
/*cards*/
$cardProductShadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
$cardProductHoverShadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,rgba(0, 0, 0, 0.22) 0px 15px 12px;
/**/