@use "../asbtracts/variables" as var;
@use "../asbtracts/mixins" as mix;

.main__about {

    @include mix.displayFlex(column);
    align-items: center;
    gap: 2vh;

    .section__about {

        &--title {

            font-family: Oswald;
            font-size: 1.5rem;
        }

        &--text {

            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        &--principles {

            @include mix.displayFlex(column);
            gap: 1vh;
        }

        &--main {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

        &--images {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: min-content;
                padding: 1vh;
                height: auto;
                width: 100%;
            }
        }
    }

    .section__location {

        @include mix.displayFlex(column);
        width: fit-content;
        align-items: center;
        gap: 1vh;
    }
}


/*media*/
@media (max-width: 1280px) {

    .main__about {

        .section__about {

            &--main {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }
}