@use "../asbtracts/variables" as var;
@use "../asbtracts/mixins" as mix;

.main__addproduct {

    display: flex;
    flex-direction: column;
    align-items: center;

    .section__addproduct {

        display: flex;
        flex-direction: column;
        border: 1px solid grey;
        background-color: var.$backgroundCardColor;
        border-radius: 15px;
        width: 50vw;
        justify-items: center;

        &--title {
            color: var.$backgroundHeaderColor;
            text-align: center;
            margin: 2vh 0 2vh 0;
        }

        &__form {
            margin: 1vh;
            width: 80%;
            align-self: center;

            &--data {
                display: flex;
                flex-direction: column;
                align-self: center;
                justify-content: start;
                border-radius: 5px;
                margin-top: 5px;
                width: 100%;


                button {
                    width: min-content;
                    align-self: center;

                    padding: 1vh;
                    cursor: pointer;
                }

                .data {
                    width: 100%;
                    align-self: center;

                    &__origin {
                        display: flex;
                        flex-direction: row;
                        width: min-content;
                        align-self: left;
                        margin-top: 5px;
                        gap: 5px;

                        &--options {
                            display: flex;
                            flex-direction: row;
                            font-size: small;
                            gap: 10px;
                        }

                        &--option {
                            display: flex;
                            flex-direction: row;
                            gap: 1px;
                        }


                        input[type="radio"] {
                            width: min-content;
                        }

                    }
                }

                .delivery__info {

                    display: flex;
                    flex-direction: row;

                    label {
                        width: fit-content;
                        margin-right: 5px;
                    }

                    input[type="checkbox"] {
                        width: min-content;

                    }

                }

                .photo {
                    display: flex;
                    flex-direction: row;

                    label {
                        width: fit-content;
                        margin-right: 5px;
                    }
                }

                .data__input {
                    height: 3vh;
                    outline: none;
                }

                textarea {
                    resize: vertical;
                }

                button {
                    margin-top: 2vh;
                }


            }



        }
    }


}


/*media*/

@media (max-width:1280px) {
    .main__addproduct {
        .section__addproduct {

            width: 70%;

            &__form {
                &--data {

                    .data {
                        width: 100%;
                    }
                }
            }
        }
    }

}

@media (max-width: 992px) {

    .main__addproduct {
        .section__addproduct {

            width: 80%;

            &__form {
                &--data {

                    .data {
                        width: 100%;
                    }
                }
            }
        }
    }


}

@media (max-width: 768px) {

    .main__addproduct {
        .section__addproduct {

            width: 90vw;

            &__form {
                &--data {

                    .data__input {
                        width: 100%;
                    }
                }
            }
        }
    }
}