@use "../asbtracts/variables" as var;
@use "../asbtracts/mixins" as mix;


body {
    display: grid;
    grid-template-areas:
        "header"
        "navbar"
        "main"
        "footer";
    gap: 1vh;
    background-color: var.$backgroundBodyColor;
  
}