@use "../asbtracts/variables" as var;
@use "../asbtracts/mixins" as mix;

.footer {
    grid-area: footer;
    background-color: var.$backgroundHeaderColor;
    color: var.$titleColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1vW;
    gap: 2vh;

    .social {

        display: flex;
        flex-direction: column;
        gap: 1vh;

        &__networks {
            display: flex;
            gap: 1vw;
            justify-content: center;
        }
    }
}