@use "../asbtracts/variables" as var;
@use "../asbtracts/mixins" as mix;

$_paddingX: 1vw;
$_paddingY: 0vh;


.header {
    position: fixed;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: var.$backgroundHeaderColor;
    padding: $_paddingY $_paddingX $_paddingY $_paddingX;
    gap: 3vw;
    width: 100%;
    height: var.$headerHeight;

    &__store {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5vw;
    }

    &__title {
        color: var.$titleColor;
        font-family: 'BreadStore', 'cursive', 'Poppins', sans-serif;
        font-size: 2em;
        padding-top: 1.5vh;
    }

    &__logo {
        height: auto;
    }

    .cart {
        display: flex;
        margin-left: auto;
        margin-right: 10vw;
        align-self: center;
        padding: 1vh;

        &:hover {
            cursor: pointer;
            transform: scale(1.2);
        }
    }

    .cart__added {
        background-color: red;
        color: white;
        border-radius: 100%;
        width: 20px;
        height: 20px;
        text-align: center;
    }


}