@use "../asbtracts/variables" as var;
@use "../asbtracts/mixins" as mix;

$_padding: 10vw;

.main {
    grid-area: main;
    padding: calc(var.$headerHeight + 10px) $_padding 0 $_padding;

    .section {

        width: 100%;

        &--slider {

            overflow: hidden;
        }

        &--products {

            display: flex;
            flex-direction: column;
            gap: 1vw;
        }

        &--products {
            margin-top: 1vh;
            border-radius: 5px;
            padding: 1vh;
        }

        .search__form {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1vw;

            &--input {

                display: flex;
                outline: none;
                background-color: var.$backgroundCardColor;
                border: 1px solid var.$disabledColor;
                box-shadow: var.$cardProductShadow;
                font-size: 1.2rem;
                border-radius: 0.2rem;
                padding: 10px;


                & input[type="text"] {
                    border: none;
                    background-color: transparent;
                    width: auto;
                    outline: none;
                    width: 100%;
                    font-size: large;
                }

                &:focus-within {
                    border: 1px solid var.$searchFocusBorder;
                    transform: scale(1.01);
                }

                & img {
                    cursor: pointer;
                }

            }

            .addproduct {
                background-color: var.$backgroundCardColor;
                border: 1px solid var.$disabledColor;
                border-radius: 0.2rem;
                width: fit-content;
                padding: 10px;
                box-shadow:var.$cardProductShadow;


                &:hover {
                    transform: scale(1.05);
                }

                &__item {

                    color: var.$successColor;

                    &:link,
                    &:visited {
                        text-decoration: none;
                        color: var.$successColor;
                    }
                }

            }
        }

        .gallery {
            margin-top: 1vh;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 1rem;
        }

    }
}