@use "../asbtracts/variables" as var;
@use "../asbtracts/mixins" as mix;

.navbar {

    /*display: flex;*/
    /*align-items: center;*/
    display: grid;
    justify-items: center;
    align-items: center;

    &__menu {

        display: flex;
        gap: 2vw;

    }

    &__item {
        text-decoration: none;
        color: var.$navbarItemColor;
        font-family: 'Oswald', sans-serif;
        font-size: 1.2rem;

        &--active {
            text-decoration: underline;
            font-weight: bold;
            color: var.$navbarItemActiveColor;

        }

        &:hover {
            color: var.$titleColor;

        }

    }

}