@use "../asbtracts/variables" as var;
@use "../asbtracts/mixins" as mix;

.navbar {

    display: flex;
    align-items: center;

    &__menu {

        display: flex;
        gap: 1vw;
    }

    &__item {
        text-decoration: none;
        color: var.$navbarItemColor;

        &--active {
            text-decoration: underline;
            font-weight: bold;
            color: var.$navbarItemActiveColor;

        }

        &:hover {
            color: var.$titleColor;
        }

    }

}