@use "../asbtracts/variables" as var;
@use "../asbtracts/mixins" as mix;

$_paddingTopCardElement: 0.5vh;
$_cardHeight: 450px;
$_cardImgHeight: 250px;

.card {

    background-color: var.$backgroundCardColor;
    padding: 1vw;
    height: $_cardHeight;

    &__image {

        width: 100%;
        height: $_cardImgHeight;
        object-fit: contain;

    }

    &__title {
        border-top: 1px solid lightgray;
        color: green;
        padding-top: $_paddingTopCardElement;
    }

    &__text {
        padding-top: $_paddingTopCardElement;
        color: var.$backgroundHeaderColor;
        /**/
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        display: -webkit-box;
        overflow: hidden;
        /*
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        color: rgba(0, 0, 0, .9);
        display: -webkit-box;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        margin-top: 12px;
        max-height: 50px;
        overflow: hidden;
        text-decoration: none;
        */

    }

    &__price {

        padding-top: $_paddingTopCardElement;
        text-align: center;
        font-weight: bold;

        &::before {
            content: "$ ";
        }
    }


    &__addcart {

        padding-top: $_paddingTopCardElement;
        display: flex;
        flex-direction: row;
        align-self: center;
        gap: 0.5vw;

    }

    &--product {
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;


        &:hover {
            cursor: pointer;
            box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
            transition: all 300ms;
            transform: scale(1.01);
        }

    }

}