@use "../../../styles/scss/variables" as var;

.form-product {

    display: flex;
    flex-direction: column;
    gap: 1.5vh;

    width: 556px;

    &__image {
        align-self: center;
        width: 200px;
        border-radius: 0.25rem / 0.25rem;
    }
}