@use "../../styles/scss/variables" as var;

.table__container {

    .table__head {

        th {
            font-weight: bold !important;
        }
    }

    .table__body {

        .productCell {

            display: flex !important;
            align-items: center;
            gap: 5px;

            .cartImage {
                width: 25px;
            }
        }

        .amountCell {

            .shoppingCartButton {
                padding: 0 !important;
                min-width: 20px !important;
                margin-left: 5px;
                margin-right: 5px;
            }
        }

        .total {
            td {
                font-weight: bold !important;
            }
        }

        .emptyCart {

            td {

                font-size: large;
                font-weight: bold;
                text-align: center;
                color: var.$colorBorderDark;
            }
        }
    }

    @media (max-width: 480px) {


        //min-width: 480px !important;


    }
}